<app-header></app-header>

<div class="container">
    <div class="text-center m-5">
      <h1>Scripts</h1>
    </div>
    <div class="list-group">
        <p class="list-group-item list-group-item-action active">
          <b>Scripts List</b>
        </p>
        <p class="list-group-item list-group-item-action script" routerLink="category-and-time-match">
            Category And Time Match
        </p>
        <p class="list-group-item list-group-item-action script" routerLink="validate-fullbodyscan">
            Full Body Scan
        </p>
      </div>
</div>
