<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>NEXI INTERNATIONAL</span>
      <div class="nav_items_">
        <span [routerLink]="['/home']" routerLinkActive="active">Activation System</span>
      <span [routerLink]="['/scripts']" routerLinkActive="active">Test Automation System</span>
      </div>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NEXI International</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  [routerLink]="['/category-and-time-match']" routerLinkActive="active">Scripts</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <button mat-button color="warn" (click)="logout()">Logout</button>
      </ul>
    </div>
  </nav> -->
  