<app-header></app-header>
<div class="container text-center mt-5">
    
<mat-form-field appearance="fill" class="m-2">
    <mat-label>Old Password</mat-label>
    <input matInput [(ngModel)]="password.old_password">
</mat-form-field>
<mat-form-field appearance="fill" class="m-2">
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="password.new_password">
</mat-form-field>
<div class="mt-5">
    <button mat-button color="primary" (click)="update()" [hidden]="spinner">Update</button>
    <button mat-button color="" [hidden]="spinner" (click)="cancel()">Cancel</button>
    <mat-spinner style="margin: auto;" *ngIf="spinner"></mat-spinner>
</div>
</div>