<app-header></app-header>

<div class="container">
    <div class="text-center m-5">
        <h1>Validate Frequency Folder</h1>
    </div>
    <input class="form-control" type="file" id="formFile" (change)="fileResponse($event)" [hidden]="fileselected">
    <mat-spinner style="margin: auto;" *ngIf="spinner"></mat-spinner>


    <div *ngIf="response">

        <div class="valid_file" *ngIf="response?.isFileCorrect">
            <mat-icon aria-hidden="false" aria-label="" fontIcon="verified_user" height></mat-icon>
            <p>Img Folder is Valid</p>
            <button mat-button routerLink="/scripts">Go Back</button>
        </div>
        <mat-accordion *ngIf="!response?.isFileCorrect">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Frequency Folder Report
                    </mat-panel-title>
                    <mat-panel-description>
                        <span style="color: red;">
                            Frequency Folder is Not Valid
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Result</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [ngClass]="freq.color == 'red' ? 'red' : 'green'" *ngFor="let freq of response?.frequencyNotFound; let i = index" >
                            <th scope="row">{{i + 1}}</th>
                            <td>NOK ({{ freq.status }})</td>
                            <td>{{ freq.status }} {{ freq.message }}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>