.red {
    background-color: #ff000014;
}
.green {
    background-color: #00800038;
}

.valid_file {
    text-align: center;
    mat-icon {
        font-size: 100px;
        color: green;
        height: auto;
        width: auto;
    }
}