<app-header></app-header>

<div class="container">
    <div class="text-center m-5">
        <h1>Validate Treatment Programs</h1>
    </div>
    <input class="form-control" type="file" id="formFile" (change)="fileResponse($event)" [hidden]="fileselected">
    <mat-spinner style="margin: auto;" *ngIf="spinner"></mat-spinner>


    <div *ngIf="response">

        <div class="valid_file" *ngIf="response?.isFileCorrect">
            <mat-icon aria-hidden="false" aria-label="" fontIcon="verified_user" height></mat-icon>
            <p>Treatment Programs Table is Valid</p>
            <button mat-button routerLink="/scripts">Go Back</button>
        </div>
        <mat-accordion *ngIf="!response?.isFileCorrect">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Treatment Programs Table Report
                    </mat-panel-title>
                    <mat-panel-description>
                        <span style="color: red;">
                            File is Not Valid
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Category</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let res of response?.data; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{ res.program.id }}</td>
                            <td>{{ res.program.Category }}</td>
                            <td>{{ res.message }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Category Not Found</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of response?.not_found; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{ category.id }}</td>
                            <td>{{ category.Category }}</td>
                        </tr>
                    </tbody>
                </table> -->
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>